---
import "@fontsource/ubuntu-mono";
import Experience from "../components/experience.astro";
---

<html class="bg-slate-400">
    <head>
        <meta charset="utf-8" />
    </head>
    <body class="bg-white p-8">
        <div class="border-2 border-black h-full flex flex-col">
            <div class="grid grid-cols-3">
                <div
                    id="avatar"
                    class="border-black border-r-2 border-b-2 col-span-1"
                >
                    <img
                        class="h-full object-cover"
                        src="/public/profile-poc.jpeg"
                    />
                </div>
                <div id="name-and-bio" class="h-full col-span-2">
                    <div
                        class="border-b-black row-span-3 border-b-2 grid grid-rows-2"
                    >
                        <div
                            class="row-span-1 border-b-2 border-black bg-cyan-700 p-4 pl-8"
                        >
                            <h1 class="font-extrabold text-5xl text-white mb-4">
                                Jakub Tuzar
                            </h1>
                            <h2 class="text-2xl text-white">
                                Software Engineer
                            </h2>
                        </div>
                        <div class="row-span-1">
                            <div class="col-span-1 border-black">
                                <div class="pl-8 pt-4 flex flex-row gap-8">
                                    <div>
                                        <a
                                            class="font-bold"
                                            href="mailto:jakub.tuzar@gmail.com"
                                            >jakub.tuzar@gmail.com
                                        </a>
                                    </div>
                                    <div>
                                        <p class="font-bold">
                                            +420 777 212 220
                                        </p>
                                    </div>
                                </div>
                                <div class="px-8 py-3">
                                    <p class="text-sm">
                                        Experienced software engineer skilled in
                                        fullstack development, proficient in
                                        .NET for backend and TypeScript
                                        frameworks for frontend. Passionate
                                        about continual learning and
                                        problem-solving in dynamic environments.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row flex-wrap grow">
                <div class="flex flex-col basis-1/3 border-r-2 border-black">
                    <div id="skills">
                        <h1
                            class="text-4xl font-bold px-6 py-2 flex items-center border-b-2 border-black"
                        >
                            Skills
                        </h1>
                        <div
                            class="px-8 py-3 col-span-1 border-black border-b-2 grid grid-cols-2 gap-8"
                        >
                            <ul class="col-span-1 list-disc">
                                <li class="text-sm">C#</li>
                                <li class="text-sm">.NET</li>
                                <li class="text-sm">TypeScript</li>
                                <li class="text-sm">Angular</li>
                                <li class="text-sm">React</li>
                                <li class="text-sm">Docker</li>
                                <li class="text-sm">SQL</li>
                                <li class="text-sm">CI/CD</li>
                            </ul>
                            <ul class="list-disc">
                                <li class="text-sm">Kafka</li>
                                <li class="text-sm">REST</li>
                                <li class="text-sm">NoSQL</li>
                            </ul>
                        </div>
                    </div>
                    <div id="education">
                        <h1
                            class="text-4xl font-bold px-6 py-2 flex items-center border-b-2 border-black"
                        >
                            Education
                        </h1>
                        <div class="px-8 py-3 border-black border-b-2">
                            <ul class="list-disc">
                                <li class="text-sm">
                                    <p class="text-sm">
                                        Bachelor's degree in Mechanical
                                        Engineering
                                    </p>
                                    <p class="text-xs italic">CTU in Prague</p>
                                </li>
                                <li class="text-sm">
                                    <p class="mt-4 text-sm">
                                        Master's degree in Economics
                                    </p>
                                    <p class="text-xs italic">CTU in Prague</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="hobbies">
                        <h1
                            class="text-4xl font-bold px-6 py-2 flex items-center border-black border-b-2"
                        >
                            Hobbies
                        </h1>
                        <div class="px-8 py-3 col-span-1">
                            <ul class="list-disc">
                                <li class="text-sm">Tech</li>
                                <li class="text-sm">Game development</li>
                                <li class="text-sm">
                                    LEGO (last build - Star Destroyer)
                                </li>
                                <li class="text-sm">Playing guitar</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col basis-2/3">
                    <div id="experience">
                        <h1
                            class="text-4xl font-bold px-6 py-2 flex items-center col-span-2 border-b-2 border-black"
                        >
                            Experience
                        </h1>
                        <div
                            class="px-8 py-3 col-span-2 grid grid-cols-1 gap-10"
                        >
                            <Experience
                                company="Česká spořitelna a.s."
                                start="October 2022"
                                position="Software engineer"
                                description="Full-stack development of an application for the sale of accounts in Internet banking George"
                            />
                            <Experience
                                company="Prusa Research"
                                start="September 2021"
                                end="September 2021"
                                position="Data Analyst"
                                description="Creation of reports and SQL queries, optimization and acceleration of existing SQL queries"
                            />
                            <Experience
                                company="PricewaterhouseCoopers"
                                start="September 2020"
                                end="August 2021"
                                position="Technology consultant"
                                description="Data analysis, business analysis and reporting for clients from the financial sector"
                            />
                            <Experience
                                company="the LEGO Group"
                                start="January 2020"
                                end="August 2020"
                                position="Innovation in operation intern"
                                description="Economic evaluation of innovative projects"
                            />
                        </div>
                    </div>
                </div>
                <div
                    id="footer"
                    class="grow w-full bg-cyan-700 border-black border-t-2"
                >
                </div>
            </div>
        </div>
    </body>
</html>

<style>
    body {
        font-family: "Ubuntu Mono", monospace;
        width: 21cm;
        height: 29.7cm;
        margin: 1cm auto;
    }
</style>
