---
export interface ExperienceProps {
    company: string;
    start: string;
    end?: string;
    position: string;
    description: string;
}
const { company, start, end, position, description }: ExperienceProps =
    Astro.props;
---

<div class="grid grid-rows-2 gap-y-3">
    <div>
        <div class="flex flex-row justify-between items-end">
            <h3 class="font-extrabold text-l">{position}</h3>
            <h4 class="font-extrabold text-l">{company}</h4>
        </div>
        <p class="text-sm font-light">{start} - {end ?? "Now"}</p>
    </div>
    <p>{description}</p>
</div>
